#page{
    background-image: linear-gradient(to bottom right, #ffc966, white);
    background-repeat : no-repeat;
    height : 100%;
}

html{
    height : 100%;
}


/*#fullName, #birth, #death, #branch {*/
label {
    font-weight: bold;
    margin: 10px;
}

.date {
    margin: 10px;
    margin-top: 20px;
}

#button{
    margin-left: 260px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 2px 6px;
    border-width: 10px;
    border-color: black;
}

#button {
    margin-top: 10px;
}




