<!--<!doctype html>-->
<!--<table class="table">-->
<!--        <thead class="thead-dark">-->
<!--            <tr>-->
<!--                <th scope="col">Name</th>-->
<!--                <th scope="col">Height (cm)</th>-->
<!--                <th scope="col">Mass (kg)</th>-->
<!--                <th scope="col">Skin color</th>-->
<!--                <th scope="col">Eye color</th>-->
<!--                <th scope="col">Hair color</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody id="output">-->
<!--        </tbody>-->
<!--    </table>-->
<!--<table class="table">-->
<!--    <thead class="thead-dark">-->
<!--        <tr id="columns">-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Birth</th>-->
<!--            <th scope="col">Death</th>-->
<!--            <th scope="col">Military Branch</th>-->
<!--            <th scope="col">Mlitary Status</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody id="output">-->
<!--        <tr>-->
<!--            <td>Leo Bert Abramoski</td>-->
<!--            <td>02/07/1933</td>-->
<!--            <td>07/28/1964</td>-->
<!--            <td>Army</td>-->
<!--            <td>CAPT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Robert John Achas</td>-->
<!--            <td>01/01/1943</td>-->
<!--            <td>03/14/1965</td>-->
<!--            <td>Marine Corp</td>-->
<!--            <td>LCPL</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Jesse Rodriquez Acosta</td>-->
<!--            <td>08/06/1934</td>-->
<!--            <td>05/16/1965</td>-->
<!--            <td>Air Force</td>-->
<!--            <td>SSGT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>James Blair Alexander</td>-->
<!--            <td>10/07/1925</td>-->
<!--            <td>02/10/1965</td>-->
<!--            <td>Army</td>-->
<!--            <td>SP5</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Everett Lee Anderson</td>-->
<!--            <td>05/03/1932</td>-->
<!--            <td>02/10/1965</td>-->
<!--            <td>Army</td>-->
<!--            <td>SP5</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Robert Goerge Armstrong</td>-->
<!--            <td>03/03/1939</td>-->
<!--            <td>10/24/1964</td>-->
<!--            <td>Air Force</td>-->
<!--            <td>1LT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Odis Daniel Arnold</td>-->
<!--            <td>09/20/1915</td>-->
<!--            <td>06/30/1961</td>-->
<!--            <td>Army</td>-->
<!--            <td>LTC</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Roy Gordon Azbill</td>-->
<!--            <td>01/01/1940</td>-->
<!--            <td>12/30/1964</td>-->
<!--            <td>Army</td>-->
<!--            <td>WO</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>James Edwin Bailey</td>-->
<!--            <td>04/28/1928</td>-->
<!--            <td>09/04/1964</td>-->
<!--            <td>Army</td>-->
<!--            <td>SSGT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Thomas Arthur Bain</td>-->
<!--            <td>04/24/1946</td>-->
<!--            <td>10/07/1964</td>-->
<!--            <td>Army</td>-->
<!--            <td>PFC</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Arthur Dale Baker</td>-->
<!--            <td>07/30/1933</td>-->
<!--            <td>04/07/1965</td>-->
<!--            <td>Air Force</td>-->
<!--            <td>MAJ</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Secundino Baldonado</td>-->
<!--            <td>07/01/1927</td>-->
<!--            <td>05/16/1965</td>-->
<!--            <td>Air Force</td>-->
<!--            <td>TSGT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Carl Hershel Ballard</td>-->
<!--            <td>12/09/1939</td>-->
<!--            <td>07/18/1963</td>-->
<!--            <td>Army</td>-->
<!--            <td>SP5</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Alfons Aloyze Bankowski</td>-->
<!--            <td>06/15/1930</td>-->
<!--            <td>05/23/1961</td>-->
<!--            <td>Air Force</td>-->
<!--            <td>SSGT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Elvis Gordon Barker</td>-->
<!--            <td>03/18/1939</td>-->
<!--            <td>03/01/1965</td>-->
<!--            <td>Army</td>-->
<!--            <td>CAPT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>William Marcus Barschow</td>-->
<!--            <td>05/24/1937</td>-->
<!--            <td>04/05/1965</td>-->
<!--            <td>Navy</td>-->
<!--            <td>LT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>James Martin Cale</td>-->
<!--            <td>09/02/1936</td>-->
<!--            <td>05/16/1965</td>-->
<!--            <td>Air Force</td>-->
<!--            <td>SSGT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Patrick Palmer Calhoun</td>-->
<!--            <td>03/19/1941</td>-->
<!--            <td>04/19/1965</td>-->
<!--            <td>Army</td>-->
<!--            <td>2LT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Jerry Alan Campaigne</td>-->
<!--            <td>06/19/1935</td>-->
<!--            <td>04/08/1963</td>-->
<!--            <td>Air Force</td>-->
<!--            <td>CAPT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Gerald Carl Capelle</td>-->
<!--            <td>12/23/1934</td>-->
<!--            <td>04/01/1965</td>-->
<!--            <td>Army</td>-->
<!--            <td>CAPT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Benjamin Beltra Castaneda</td>-->
<!--            <td>01/24/1924</td>-->
<!--            <td>01/23/1965</td>-->
<!--            <td>Army</td>-->
<!--            <td>SSGT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>William Thomas Cavanaugh</td>-->
<!--            <td>04/08/1941</td>-->
<!--            <td>04/10/1964</td>-->
<!--            <td>Army</td>-->
<!--            <td>SP4</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>George E. Chamberlin</td>-->
<!--            <td>10/16/1920</td>-->
<!--            <td>05/05/1964</td>-->
<!--            <td>Marine Corp</td>-->
<!--            <td>LTC</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Robert Lewis Clark</td>-->
<!--            <td>09/26/1931</td>-->
<!--            <td>05/16/1965</td>-->
<!--            <td>Air Force</td>-->
<!--            <td>SSGT</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Robert Dale Draper</td>-->
<!--            <td>07/09/1948</td>-->
<!--            <td>08/02/1967</td>-->
<!--            <td>Marine Corp</td>-->
<!--            <td>CPL</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Steve Rodgers</td>-->
<!--            <td>07/04/1918</td>-->
<!--            <td>Unknown</td>-->
<!--            <td>Army</td>-->
<!--            <td>Unknown</td>-->
<!--        </tr>-->
<!--    </tbody>-->
<!--</table>-->