<!DOCTYPE html>
<html id="whole">
    <head>
        <title>Finding Soldiers</title>
        <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

         <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.css" rel="stylesheet">
        <link href="../static/css/form.css" rel="stylesheet">
    </head>
    <body id="page">
    <header class="header">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 style="color:green" class="Title"> Start Your Search Here!</h1>
                    <h5 style="color:red" id="fillout">Please fill out the form to the best of your ability with the information of the person you are trying to find.</h2>
                </div>
            </div>
    </header>
    <div id="namebox" class="col-md-6">
        <label id="fullName" for="firstName">Full Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Sean Williams" value="" required="">
    </div>
    <div class="col-md-7">
        <label id="branch" for="branch">What branch of military did your loved one belong to?</label>
        <select class="form-control" class="statusText" id="Branch" value="" required="">
            <option>Select One</option>
            <option>Coast Guard</option>
            <option>Air Force</option>
            <option>Army</option>
            <option>Marines</option>
            <option>Navy</option>
        </select>
    </div>
    <div class="col-md-4">
        <label id="birth">Date of loved ones birth.</label>
        <input class="form-control" class="statusText" id="Birth" type="date">
    </div>
    <div class="col-md-4">
        <label id="death">Date of loved ones death.</label>
        <input class="form-control" class="statusText" id="Death" type="date">
    </div>
    <div id="button">
        <button onclick="loadtable()">Submit</button>
    </div>
    <table id="output" class="table"></table>
    <script src="../static/js/table.js"></script>
    </body>
</html>